<ion-view view-title="热门赛事">
    <ion-content>
        <div ng-controller="DashCtrl" class="list">
            <div class="item-box">
                <div class="item-time">2015-03-09</div>
                <a class="item" target="_blank">
                    <div class="main-icon" >
                        <img src="http://dummyimage.com/50x50/f1f1f1/999" />
                    </div>
                    <div class="item-msg">
                        <p>西甲第37轮</p>
                        <p class="vs">3-2</p>
                        <p>已结束</p>
                    </div>
                    <div class="sub-icon" >
                        <img src="http://dummyimage.com/50x50/f1f1f1/999" />
                    </div>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>