/* Empty. Add your own CSS if you like */
[nav-bar-transition="ios"] [nav-bar="active"] .bar, [nav-bar-transition="ios"] [nav-bar="entering"] .bar,.tabs{background: rgb(75, 173, 95); color: #fff}
.tab-item .icon,.ng-binding{color: #fff}
.bar.bar-stable .title{color: #fff}
.item-box .item-box{overflow: hidden;}
.main-icon,.sub-icon{float: left; width: 20%; text-align: center;}
.main-icon img,.sub-icon img{width: 50px; height: 50px;}
.item-msg{float: left; width: 60%; text-align: center;}
.item-msg p{ font-size: 12px; color: #444;}
.item-time{text-align: center; font-size: 15px; background: #E5DFDF; color: #444; line-height: 30px;}
.item-msg .vs{font-size: 18px;}
.bar-stable .button.button-clear{color: #fff}